<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="width: 100%;">
        <tr>
            <th>Id</th>
            <th>Bygning</th>
            <th>Lokale</th>
            <th>Temperatur</th>
            <th>Luftfugtighed</th>
            <th>CO2</th>
            <th>Luftkvalitet</th>
            <th>Lysniveau</th>
            <th>Lys Farve</th>
            <th>Lydniveau</th>
        </tr>
        <tr>
            <th>23.9 Celsius</th>
            <th>23.9 Celsius</th>
            <th>23.9 Celsius</th>
            <th>23.9 Celsius</th>
            <th>37%</th>
            <th>466 ppm</th>
            <th id="orange">3.07</th>
            <th>346 lux</th>
            <th>2986 K</th>
            <th id="red">36 dB</th>
        </tr>
    </table>
</body>
</html>