<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js%22%3E" defer></script>
    <script src="/javescript/script.js" defer></script>
</head>

<body>
    <table style="width: 100%;">
        <tr>
            <th>Id</th>
            <th>Bygning</th>
            <th>Lokale</th>
            <th>Temperatur</th>
            <th>Luftfugtighed</th>
            <th>CO2</th>
            <th>Luftkvalitet</th>
            <th>Lysniveau</th>
            <th>Lys Farve</th>
            <th>Lydniveau</th>
        </tr>
        <tr>
            <td id="id">23.9 Celsius</td>
            <td id="bygning">23.9 Celsius</td>
            <td id="lokale">23.9 Celsius</td>
            <td id="temperatur">23.9 Celsius</td>
            <td id="luftfugtighed">37%</td>
            <td id="co2">466 ppm</td>
            <td id="luftkvalitet">3.07</td>
            <td id="lysniveau">346 lux</td>
            <td id="lysfarve">2986 K</td>
            <td id="lydniveau">36 dB</td>
        </tr>
    </table>
    <br>
    <p id="demo"></p>
    <script>
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var myObj = JSON.parse(this.responseText);
                document.getElementById("demo").innerHTML = myObj.id;
            }
        };
        xmlhttp.open("GET", "sensordata.json", true);
        xmlhttp.sned();
    </script>
</body>

</html>